/* タブレット */
@media (max-width: 1000px){

}

/* スマホ */
@media (max-width: 670px) {

* {
    box-sizing: border-box;
}
header h1 {
    font-size: 25px;
}
.container {
    width: 100%;
}
.title li {
    font-size: 16px;
}
input[type="text"] {
    width: 70%;
}
input[type="radio"] {
    width: 10%;
}
footer li {
    font-size: 18px;
}