body {
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
header {
    background-color: #e1eec1;
    color: black;
}
li{
    list-style: none;
    width: calc(100%/3);
}

ul{
    padding: 0;
    display:flex;
    text-align: center;
}
