<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>WEBお買い物計算メモ</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>

    <header>
        WEBお買い物計算メモ
    </header>

    <div id="table">
        <table>
            <tr>
                <th></th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>税率</th>
                <th>税込価格</th>
            </tr>
            <tr v-for="(form, index) in forms">
                <td><button v-on:click="deleteForm(index)">×</button></td>
                <td><input v-model="forms[index]" type="text"></td>
                <td><input type="number" v-model="prices[index]"></td>
                <td>
                    <ul>
                        <li>
                            <input type="radio" v-bind:name="names[index]" v-model="taxRates[index]" value="1.08"
                                checked="checked">
                        </li>
                        <li>
                            <input type="radio" v-bind:name="names[index]" v-model="taxRates[index]" value="1.1">
                        </li>
                    </ul>
                </td>
                <td>{{prices[index]>0 ? Math.round(prices[index]*taxRates[index]*100)/100 : 0}}</td>
            </tr>
        </table>
        <button @click="addForm()">フォーム追加</button>
        <br>
        forms:{{forms}}
        <br>
        prices:{{prices}}
        <br>
        taxRates:{{taxRates}}
        <br>
        names:{{names}}


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
        new Vue({
            el: "#table",
            data: {
                count: 0,
                forms: [],
                prices: [],
                names: [],
                taxRates: []
            },
            methods: {
                addForm() {
                    this.forms.push('');
                    this.count++;
                    this.names.push(`tax${this.count}`);
                    this.taxRates.push(1.08);
                },
                deleteForm(index) {
                    this.forms.splice(index, 1);
                    this.prices.splice(index, 1);
                    this.names.splice(index, 1);
                    this.taxRates.splice(index, 1);
                }
            }
        });
    </script>
</body>

</html>