body {
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro";
    text-align: center;
    margin: 0px;
}

header {
    background-color: rgb(75, 75, 75);
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 34px;
}

ul{
    list-style:none;
    padding:0px;
}

table{
    margin:auto;
}

th,td {
    padding: 0px 10px;
}

.button {
    width: 100px;
    height: 20px;
    box-shadow: 0 0 8px gray;
    background-color: rgb(60, 159, 199);
    line-height: 20px;
    color: rgb(255, 255, 255);
    cursor: hand;
    cursor: pointer;
    margin: 5px auto;
    padding: 3px;
}

.button:hover {
    background-color: rgb(123, 196, 224);
    ;
}

input[type="number"]{
    width:7em;
}

input[type="text"]{
    width:7em;
}