body {
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
    text-align: center;
    margin:0px;
}

header {
    background-color: rgb(32, 141, 184);
    height:50px;
    color:rgb(255,255,255);
    font-size:34px;
}

table {
    margin: auto;
}

th {
    padding: 0px 10px;
}

td {
    padding: 0px 10px;
}

.button {
    width: 100px;
    height: 20px;
    box-shadow: 0 0 8px gray;
    background-color: rgb(32, 141, 184);;
    line-height:20px;
    color:rgb(255,255,255);
    cursor:hand;
    cursor:pointer;
    margin:auto;
}

.button:hover {
    background-color: rgb(123, 196, 224);;
    }

footer p{
    margin:0px;
}
