* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    width: 100%;
}

h1 {
    font-size: 30px;
    margin: 0px;
}

table {
    margin: auto;
    white-space: nowrap;
}

th, td {
    padding: 0px 10px;
}


.taxRadio {
    display: block;
    text-align: left;
}

.name, .price {
    width: 5em;
}

.quantity {
    width: 3em;
}

h2, p {
    margin: 0px;
}

footer {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}